[submodule "themes/pickles"]
	path = themes/pickles
	url = git@github.com:mismith0227/hugo_theme_pickles.git
[submodule "themes/image-gallery"]
	path = themes/image-gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery.git
